.product-detail h1
{
   font-style: italic;
}

.product-detail p
{
   color: #9e9ea1;
   font-size: 1.5rem;
   padding: 0.5rem 0;
   margin: 0;
}
.product-detail h5 
{
   font-weight: bold;
   margin-top: 1rem;
}  
.product-detail h5 span
{
   font-weight: normal;
   color: #9e9ea1;
   padding-left: .5rem;
}  


.product-detail p ~ p
{
   font-size: 1rem;
}

/* quanlity  */


.text
{
   color: #cbd5ec;
   font-style: italic;
}

.quanlity
{
   border: 1px solid #e8eaec;
   width: max-content;
   display:flex ;
   align-items: center;
   padding: .5rem 2rem;
   column-gap: 1.5rem;
}

.form
{
   display: flex;
}

.btn
{
   border-radius: 0 !important;
   font-style: italic;
}