.order
{
   background-color: #f8f9fa;
   width: 35%;
   height: 20rem;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.order-item
{
   font-size: 1.2rem;
   width: 80%;
   padding-bottom: .5rem;
   font-weight: 500;
   font-style: italic;
   border-bottom: 2px solid #e8eaed;
 
}

.order h2
{
   align-self: baseline;
   width: 65%;
   font-weight: 400;
}

.order-item span
{
   font-size: 1rem;
   font-weight: normal;
   color: #9ca2a6;
   
}

.total span:first-of-type
{
   font-weight: 500;
  
}

.total
{
   display: flex;
   justify-content: space-between;
   font-size: 1.2rem;
   width: 80%;
   font-style: italic;
}